.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  width: 95%;
  background-color: #010409;
  color: #c9d1d9;
}
.buttonsContainer {
  width: 40%;
  margin: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-self: center;
  gap: 10px;
}
.button {
  background-color: #161b22 !important;
  color: #c9d1d9 !important;
  border: none !important;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  .main {
    width: 35vw;
  }
}

@media (max-width: 850px) {
  .main {
    flex-direction: column;
    display: flex;
    width: 50%;
    min-width: 25vw;
    flex-direction: column !important;
  }
  .buttonsContainer {
    flex-direction: column;
    width: 20vw;
  }
}
