.cart {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
  background-color: #161b22;
  color: #010409;
  overflow: hidden;
}
@media (max-width: 1000px) {
  .cart {
    display: flex;
    flex-direction: column;
  }
}
